<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


<header>
    <% include ../partials/_header %>
</header>


 <ol>
    <% for (var key in urls) { %>
        <li > <b>Full URL:</b> <%= urls[key].fullURL %> <br>
         <b>Tiny URL:</b> <%= key %>  </li>
        <!-- <form method="POST" action= <%= "/urls/" + key + "/delete"%>> -->
          <form style="display: inline;" method="POST" action= "/urls/<%=key%>/delete">
          <input type="submit" value="delete">
        </form>

        <form style="display: inline;" method="GET" action= "/urls/<%=key%>/edit">
          <input type="submit" value="edit">
        </form>
        <p><br></p>
    <% } %>
</ol>



<h3><a href= "/urls/new">Make a new tiny url!</a></h3>


</body>
</html>