<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


<header>
    <% include ../partials/_header %>
</header>


 <ol>
    <% for (var key in urls) { %>
        <li > <%= urls[key] %> - <%= key %>  </li>
        <!-- <form method="POST" action= <%= "/urls/" + key + "/delete"%>> -->
          <form style="display: inline;" method="POST" action= "/urls/<%=key%>/delete">
          <input type="submit" value="delete">
        </form>

        <form style="display: inline;" method="GET" action= "/urls/<%=key%>/edit">
          <input type="submit" value="edit">
        </form>
        <p><br></p>
    <% } %>
</ol>



<h4><a href= "#">Make a tiny url</a></h4>


</body>
</html>