<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


<header>
    <% include ../partials/_header %>
</header>


 <ol>
    <% for (var key in urls) { %>
        <li ><b>Tiny URL:</b> <a href= "http://localhost:8080/u/<%=key%>"> localhost:8080/u/<%=key%></a><br>
        (<%= urls[key].fullURL %>)</li>
          <form style="display: inline;" method="POST" action= "/urls/<%=key%>/delete">
          <input type="submit" value="delete">
        </form>

        <form style="display: inline;" method="GET" action= "/urls/<%=key%>/edit">
          <input type="submit" value="edit">
        </form>
        <p><br></p>
    <% } %>
</ol>



<h3><a href= "/urls/new">Make a new tiny url!</a></h3>


</body>
</html>